---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
const allProjects = await getCollection("project");
const sortedProjects = allProjects.sort((a, b) => {
  return (
    new Date(b.data.timestamp).getTime() - new Date(a.data.timestamp).getTime()
  );
});
---

<Layout title="Elliott Chong | Projects">
  <div class="text-center text-white md:text-left">
    <h1 class="text-3xl font-bold">View all of my projects here!</h1>
    <div class="mt-3 text-gray-400">
      I love building visual projects to showcase the beauty of programming ;)
    </div>
  </div>
  <!-- projects gallery here -->
  <div class="grid grid-cols-1 gap-6 md:grid-cols-3 mt-4 text-white">
    {
      sortedProjects.map((project) => {
        const { data: frontmatter, slug } = project;
        const { title, timestamp, description, image, codeLink, demoLink } =
          frontmatter;
        return (
          <div class="hover:translate-y-1 transition-all  rounded-md">
            <div class="overflow-hidden rounded-md bg-slate-800  border border-slate-700">
              <div class="aspect-w-3 aspect-h-2 p-4">
                <img
                  class="h-full w-full object-cover rounded-md"
                  src={image.src}
                  alt={image.alt}
                  loading="lazy"
                />
              </div>
              <div class="flex gap-2 px-2 flex-wrap mt-2 justify-center">
                {project.data.tags.map((tag: string) => {
                  return (
                    <span class="rounded-md px-2 py-1 text-xs font-semibold border border-terminal-green items-center flex justify-center shadow-lg whitespace-nowrap">
                      {tag}
                    </span>
                  );
                })}
              </div>
              <div class="px-3 pt-4 pb-6 text-center">
                <h2 class="text-xl font-semibold">{title}</h2>
                <div class="mt-1 text-xs text-gray-400">
                  {new Date(timestamp).toDateString()}
                </div>
                <div class="mt-2 text-sm text-gray-300">
                  {description}{" "}
                  <a
                    class="underline text-terminal-green"
                    href={"/projects/" + slug}
                  >
                    Learn more
                  </a>
                </div>
                <div class="flex gap-2 items-center justify-center mt-6">
                  {demoLink && (
                    <a
                      href={demoLink}
                      target="_blank"
                      rel="noopener noreferrer"
                      class="transition-all cursor-pointer text-white bg-gradient-to-r from-green-500 via-green-600 to-green-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-md text-sm px-5 py-2.5 text-center mr-2 mb-2 whitespace-nowrap"
                    >
                      Link to demo
                    </a>
                  )}
                  {codeLink && (
                    <a
                      href={codeLink}
                      class="relative cursor-pointer inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-500 to-green-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800 whitespace-nowrap"
                      rel="noopener noreferrer"
                    >
                      <span class="relative px-3 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0 flex items-center">
                        <img
                          src="/images/github-icon.svg"
                          alt="github logo"
                          class="w-6 h-6 github-icon mr-2"
                        />
                        View Code
                      </span>
                    </a>
                  )}
                </div>
              </div>
            </div>
          </div>
        );
      })
    }
  </div>
</Layout>

<style>
  .github-icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(327deg)
      brightness(109%) contrast(103%);
  }
</style>
